<div class="text-center px-10 shadow-hover">
    <div class="bg-round bg-green">
        <img src="/pic/ico/{{ img }}" class="svg svg-w">
    </div>
    <h4 class="my-4">{{ h|raw }}</h4>
    <p class="p2">{{ p|raw }}</p>
</div>
