{#
<div style="background: #005F00;padding: 5% 0;">
    <div class="container">
        <div class="row  align-items-end" style="color: #FFFFFF!important;">
            <div class="col-md-4 pl-4">
                <img src="/pic/ico/DecorCvet_logoW.svg" class="mb-2">
            </div>
            <div class="col-md-4 pl-5">
                <h4>УСЛУГИ</h4>
            </div>
            <div class="col-md-4 pl-5">
                <h4>КОНТАКТИ</h4>
            </div>
        </div>

        <div class="row mt-3" style="color: #A8A8A8!important;">
            <div class="col-md-4 px-4">
                <p class="p2">Ние предлагаме цялостни решения за дома, офиса и градината в областта на озеленяването - от проектирането през изграждането на поливна система и реазлизацията на проекта до
                    поддръжката - така че през цялото време да се радвате на природата близо до вас.</p>
            </div>
            <div class="col-md-4 px-4">
                <ul class="p2 bullett">
                    <li>Проектиране и реализация на градини, екстериорно и интериорно озеленяване</li>
                    <li>Изграждане на поливни системи</li>
                    <li>Поддръжка на градини и озеленяване</li>
                    <li>Продажба на солитерни и сезонни растения</li>
                    <li>Градински център</li>
                </ul>

            </div>
            <div class="col-md-4 pl-4">
                <ul class="p2 bullett">
                    <li>0887 013 562</li>
                    <li>Карловско шосе, с. Труд</li>
                    <li>office@decorcvet.com</li>
                </ul>

            </div>
        </div>




    </div>
</div>
#}

<div style="background: #005F00;padding: 3% 0;">
    <div class="container">
        <div class="row" style="color: #FFFFFF!important;">
            <div class="col-md-4 pl-4 pr-5">
                <img src="/pic/ico/DecorCvet_logoW.svg" class="mb-4">
                <p class="p2">Ние предлагаме цялостни решения за дома, офиса и градината в областта на озеленяването - от проектирането през изграждането на поливна система и реазлизацията на проекта
                    до поддръжката - така че през цялото време да се радвате на природата близо до вас.</p>
            </div>
            <div class="col-md-4 px-5">
                <h4 class="ml-4">УСЛУГИ</h4>
                <ul class="p2 bullett mt-3">
                    <li>Проектиране и реализация на градини, екстериорно и интериорно озеленяване</li>
                    <li>Изграждане на поливни системи</li>
                    <li>Поддръжка на градини и озеленяване</li>
                    <li>Продажба на солитерни и сезонни растения</li>
                    <li>Градински център</li>
                </ul>
            </div>
            <div class="col-md-4 pl-5">
                <h4 class="ml-4">КОНТАКТИ</h4>
                <ul class="p2 bullett mt-3">
                    <li>0887 013 562</li>
                    <li>Пловдив, Карловско шосе, с. Труд</li>
                    <li>office@decorcvet.com</li>
                </ul>
            </div>
        </div>
    </div>
</div>