<div style="background: #005F00;padding: 3% 0;">
    <div class="container">
        <div class="row" style="color: #FFFFFF!important;">
            <div class="col-md-4 pl-4 pr-5">
                <img src="/pic/ico/DecorCvet_logoW.svg" class="mb-4">
                <p class="p2">Ние предлагаме цялостни решения за дома, офиса и градината в областта на озеленяването - от проектирането през изграждането на поливна система и реазлизацията на проекта
                    до поддръжката - така че през цялото време да се радвате на природата близо до вас.</p>
            </div>
            <div class="col-md-4 px-5">
                <h4 class="ml-4">УСЛУГИ</h4>
                <ul class="p2 bullett mt-3">
                    <li>Проектиране и реализация на градини, екстериорно и интериорно озеленяване</li>
                    <li>Изграждане на поливни системи</li>
                    <li>Поддръжка на градини и озеленяване</li>
                    <li>Продажба на солитерни и сезонни растения</li>
                    <li>Градински център</li>
                </ul>
            </div>
            <div class="col-md-4 pl-5">
                <h4 class="ml-4">КОНТАКТИ</h4>
                <ul class="p2 bullett mt-3">
                    <li><a href="tel:+359885013562">0885 013 562</a></li>
                    <li><a href="https://www.google.bg/maps/place/%D0%93%D1%80%D0%B0%D0%B4%D0%B8%D0%BD%D1%81%D0%BA%D0%B8+%D1%86%D0%B5%D0%BD%D1%82%D1%8A%D1%80+%D0%94%D0%B5%D0%BA%D0%BE%D1%80+%D0%A6%D0%B2%D0%B5%D1%82+2/@42.1908743,24.7014841,13.5z/data=!4m13!1m7!3m6!1s0x14acd2bd99262ce5:0xa00a014cd0f3f40!2zNDE5OSDQotGA0YPQtA!3b1!8m2!3d42.2311334!4d24.7243554!3m4!1s0x14acd29a1b606e01:0x59aed2415714f715!8m2!3d42.2260645!4d24.7250848?hl=bg"
                           target="_blank">Пловдив, Карловско шосе, с. Труд</a> </li>
                    <li>office@dekorcvet.com</li>
                </ul>
                <p class="p2 my-5 text-center"><a href="{{ path('ou') }}">Общи условия и лични данни</a></p>
            </div>
        </div>
    </div>
</div>
