<nav class="navbar navbar-expand-md sticky-top topnav nav2 mb-5">
    <div class="container">
        <button class="navbar-toggler order-3" type="button" data-toggle="collapse" data-target=".dual-nav">
            <span class="navbar-toggler-icon" style="background-image:url('/pic/ico/nav-ico.svg')"></span>
        </button>

        <div class="navbar-collapse collapse dual-nav order-2 justify-content-center">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a id="season" class="nav-link" href="{{ path('sezonni') }}">Сезонни растения</a>
                </li>
                <li class="nav-item">
                    <a id="soliter" class="nav-link" href="{{ path('soliterni') }}">Солитерни растения</a>
                </li>
                <li class="nav-item">
                    <a id="product" class="nav-link" href="{{ path('promo') }}">Продукт на месеца</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
