<div class="card-ico mx-auto shadow-hover my-5">
    <div class="middle-div">
        <img src="/pic/ico/{{ img }}" class="svg">
        <h3 class="mt-3">{{ h }}</h3>
    </div>
</div>

<div class="text-center position-relative">
    <div class="text-background">
        {{ bg }}
    </div>
    <p>{{ p }}</p>
</div>