<div class="container my-100">
    <div class="bl mb-5">
        <h2>Защо озеленяване от Декор Цвет?</h2>
    </div>
    <div class="row">
        <div class="col-md-3">
            {% embed "partials/card2_orange.html.twig" with {
                'img':'gardening-gloves.svg',
                'h':'Проектанти и изпълнители',
                'p':'Ние проектираме и след това изпълняваме проектите си и ги поддържаме. Затова знаем как да изберем най-подходящото решение и да го изградим по най-добрия начин.',
            } %}
            {% endembed %}
        </div>
        <div class="col-md-3">
            {% embed "partials/card2_orange.html.twig" with {
                'img':'pruner.svg',
                'h':'Компетентност и техника',
                'p':'Зеленина в най-добрия й вид можете да имате само с правилна грижа за растенията и обработката им с подходящите инструменти и техника. А ние разполагаме и с двете.',
            } %}
            {% endembed %}
        </div>
        <div class="col-md-3">
            {% embed "partials/card2_orange.html.twig" with {
                'img':'sprout-1.svg',
                'h':'Доказан опит и знания',
                'p':'За 19 години на пазара ние имаме опит не само с проектиране, изпълнение и поддържане на зелени площи, но и познаваме растенията и дългосрочното им развитие.',
            } %}
            {% endembed %}
        </div>
        <div class="col-md-3">
            {% embed "partials/card2_orange.html.twig" with {
                'img':'protection.svg',
                'h':'Гаранция за резултата',
                'p':'Когато изпълнямаве проектите си за озеленяване, ние избираме не само най-подходящите за условията и слимата растителни видове, но и даваме шестмесечна гаранция за тях.',
            } %}
            {% endembed %}
        </div>
    </div>
</div>