<div class="container my-100">
    <div class="bl mb-5">
        <h2>Защо да купите растение от Декор Цвет?</h2>
    </div>
    <div class="row">
        <div class="col-md-3">
            {% embed "partials/card2_orange.html.twig" with {
                'img':'plants.svg',
                'h':'Съобразени с климата тук',
                'p':'Растенията, които предлагаме са напълно съобразени с климатичните условия в България. Така те остават постоянни обитатели на двора, градината и дома Ви.',
            } %}
            {% endembed %}
        </div>
        <div class="col-md-3">
            {% embed "partials/card2_orange.html.twig" with {
                'img':'seeding.svg',
                'h':'Доказан <br> произход',
                'p':'Растенията в градинския ни център са отгледани в България от здрав разсад и благодарение на това разполагат с отлична коренова система, листна маса и цвят.',
            } %}
            {% endembed %}
        </div>
        <div class="col-md-3">
            {% embed "partials/card2_orange.html.twig" with {
                'img':'watering-can-1.svg',
                'h':'Инструкции за грижи и отглеждане',
                'p':'Задено с нашите растения при покупка Вие получавате и подробни инструкции как да се грижите за тях - къде да ги засадите или поставите, как напоявате и подхранвате.',
            } %}
            {% endembed %}
        </div>
        <div class="col-md-3">
            {% embed "partials/card2_orange.html.twig" with {
                'img':'flower.svg',
                'h':'Съдействие при избора',
                'p':'Когато избирате растение, ние Ви улесняваме с информация при какви условия вирее най-добре, с какви други растения се съчетава и как ще се развие в бъдеще.',
            } %}
            {% endembed %}
        </div>
    </div>
</div>