{% extends 'base.html.twig' %}

    {% block title %}КАК ДА ИЗБЕРЕМ РАСТЕНИЕ ЗА ВКЪЩИ?{% endblock %}

{% block javascripts %}
    {% set active = ['gardenCenter'] %}
    {{ parent() }}
{% endblock %}

{% block bigpic %}
    {% embed 'partials/big_pic_textR.html.twig' with {
        'big_pic':'bigpic_kak.jpg',
        'h1':'КАК ДА ИЗБЕРЕМ РАСТЕНИЕ ЗА ВКЪЩИ?',
    } %}
    {% endembed %}
{% endblock %}

{% block body %}
    <div class="container my-100">
        <div class="row my-5">
            <div class="col-md-8 offset-md-2">
                <p>Усещали ли сте се някога като сериен убиец на домашни растения? Е, не сте единствените. Добрата новина е, че вероятно не става въпрос за липса на умения или някакъв специален талант, а просто за избор на неподходящо растение - както за вас самите, така и за пространството, с което разполагате. В следващите няколко реда ще споделим базовите неща, с които е добре да се съобразите при избора си на растение, за да се радвате на красива зеленина у дома.</p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="bl mb-5">
                    <h2>Микроклимат</h2>
                </div>
                <div class="px-4" style="background: url('/pic/ico/coin-stack.svg') center no-repeat">
                    <p>Микроклиматът в помещението, в което ще бъде отглеждано растението е най-значимия фактор при избора му. Става въпрос за количеството слънчева светлина и температурата.</p>
                    <p>Много растения изискват ярка слънчева светлина без да бъдат огрявани директно. Ако вашето помещение е с изложение юг, изток или запад, сте късмелии. Ако, обаче, стаята е северна и сте решили да отглеждате кактуси, вероятно ще срещнете затруднения. Затова е важно да се информирате каква светлина е подходяща за растението, което сте избрали и да сравните тази информация с мястото, на което ще го поставите.</p>
                    <p>По отношение на температурата, през пролетта и лятото повечето помещения са подходящи за отглеждането на домашни растения. Проблемите започват в студените сезони, когато температурата варира заради намаляването или изключването на отоплението през деня, когато отсъствате от къщи или през нощта. Повечето растения оцеляват, но някои реагират зле на температурните флуктуации и могат да загинат. Затова е важно още при покупката да се информирате как растението реагира на ниски температури и на промени в температурата.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bl mb-5">
                    <h2>Пространство</h2>
                </div>
                <div class="px-4" style="background: url('/pic/ico/big-shovel.svg') center no-repeat">
                    <p>Растенията са живи организми и с времето се развиват. Затове следващият съществен въпрос при избора на зеленина за вкъщи е колко голямо ще стане растението. Не са редки случаите когато педя висока палма в малка саксия след няколко години е достигнала тавана и е заела една трета от стаята.</p>
                    <p>Има интериорни видове, които достигат до 3 м. височина и те са подходящи за по-просторни и високи помещения.</p>
                    <p>Ако разполагате с малък апартамент или студио, то видове, които достигат максимална височина от 1-1,2 м. биха били доста по-подходящи.</p>
                    <p>Друга идея за малки помещения е вместо да поставяте саксиите на пода, да изберете висящи саксии с каскадно растяща зеленина. Така ще разполагате с до метър зелена покривка, а ако стане твърде обемна,  тогава просто можете да я подрежете.</p>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="bl mb-5">
                    <h2>Деца и домашни любимци</h2>
                </div>
                <div class="px-4" style="background: url('/pic/ico/user.svg') center no-repeat">
                    <p>Домашните любимци и по-специално котките обичат да дъвчат стайните растения. Рисковете тук са свързани не толкова с външния вид на растението, колкото с факта, че някои растения са токсични при поглъщане и могат да причинят от неразположение до сериозни здравословни проблеми на четириногите ви приятели.</p>
                    <p>Кучетата от своя страна понякога скачат върху саксиите с растения и могат сериозно да ги повредят или счупят.</p>
                    <p>Децата също понякога играят със саксийните растения и затова преди да донесете зеленина вкъщи, добре е да се информирате дали не съдържа токсични вещества. Някои стайни растения, колкото и да са красиви, са отровни при поглъщане и могат серизоно да наранят устата, езика и стомаха, както и да предизвикат повръщане и затруднено преглъщане и дишане. Затова когато избирате стайно растение, споделете с озеленителите дали имате малки деца или домашни любимци и се информирайте за безопасността на растението при поглъщане.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bl mb-5">
                    <h2>Грижи</h2>
                </div>
                <div class="px-4" style="background: url('/pic/ico/shield.svg') center no-repeat">
                    <p>Съществуват стайни растителни видове, които изискват минимални грижи и поддръжка и добре понасят липсата на светлина или редовно напояване.</p>
                    <p>Ако сте избрали такова растение за вкъщи, тогава е добре да го държите далеч от южни прозорци и от директна слънчева светлина и да не прекалявате с поливането.</p>
                    <p>Ако растението ви е от “лесните”, добре е да знаете, че то понася много по-добре да го забравите за известно време, отколкото прекаляването с грижата.</p>
                    <p>Ако, обаче, сте се спрели на растения, които изискват специфични грижи (режим на напояване, торене и подхранване и т.н.), тогава е добре да се придържате към предписанията, за да му се радвате дълго време.</p>
                    <p>И последно - растенията като всички живи същества си имат предпочитания и когато намерите подходящо място на него, е добре да не го местите. Въпреки това е препоръчително да го въртите редовно, за да избегнете едностранното му развитие.</p>
                </div>
            </div>
        </div>
    </div>

    {#Защо да купите растение от Декор Цвет?#}
    {% include '/partials/zashto-rastenie.html.twig' %}
{% endblock %}