{% extends 'base.html.twig' %}

    {% block title %}ДЕКОР ЦВЕТ КОИ СМЕ НИЕ{% endblock %}

{% block javascripts %}
    {% set active = ['aboutUs'] %}
    {{ parent() }}
{% endblock %}

    {% block bigpic %}
        {% embed 'partials/big_pic.html.twig' with {
            'big_pic':'bigpic_aboutus.jpg',
            'h1':'ДЕКОР ЦВЕТ<br>КОИ СМЕ НИЕ',
        } %}
        {% endembed %}
    {% endblock %}

    {% block body %}
        {#Какво правим ние от Декор Цвет#}
        <div class="container my-100">
            <div class="row mb-5">
                <div class="col-lg-8 col-md-6 pl-5">
                    <div class="bl mb-5">
                        <h2>Какво правим ние от Декор Цвет</h2>
                    </div>
                    <div class="px-4 top-bottom">
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum iaculis dui ut pulvinar. Nunc nec commodo augue. Phasellus ultrices sed nulla vel ornare.
                                Sed
                                interdum
                                vitae velit id rutrum. Etiam vel convallis ante.</p>
                            <p>Cras sed sollicitudin dolor, non ornare felis. Nullam fermentum mi a rutrum consectetur. Vestibulum maximus, augue at egestas tincidunt, augue diam pulvinar justo, quis
                                lobortis
                                quam nunc at arcu. Nulla accumsan tortor nec dolor cursus, at maximus libero suscipit. Mauris scelerisque porta mi, maximus suscipit purus vulputate sit amet. Maecenas
                                interdum,
                                risus id tempor sagittis, magna orci lacinia sapien, vel lacinia justo ante eu nulla.</p>
                            </p>Praesent ullamcorper ornare sem sit amet auctor. Morbi sit amet ante vel augue laoreet mattis nec eget sem. Suspendisse auctor feugiat turpis, eget mollis augue
                            facilisis
                            vel.
                            Praesent non ornare sapien. Mauris non tortor pharetra, congue ipsum luctus, rutrum turpis. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    {% embed "partials/shortcut.html.twig" with {
                        'img':'aromatic-basil-blur-615304.jpg',
                        'h':'Вижте нашите резултати',
                        'p':'',
                        'btn':'toMore.svg',
                        'link': path('home'),
                    } %}
                    {% endembed %}
                </div>
            </div>
        </div>

        {#От какво зависят сроковете и как ги спазваме#}
        <div class="container my-100">
            <div class="row mb-5">
                <div class="col-lg-4 col-md-6">
                    {% embed "partials/shortcut.html.twig" with {
                        'img':'soniaHristeva.jpg',
                        'h':'Соня Христева',
                        'p':'Ландшафтен архитект',
                        'btn':'',
                        'link': '',
                    } %}
                    {% endembed %}
                </div>
                <div class="col-lg-8 col-md-6 pl-5">
                    <div class="bl mb-5">
                        <h2>От какво зависят сроковете и как ги спазваме</h2>
                    </div>
                    <div class="pl-5">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum iaculis dui ut pulvinar. Nunc nec commodo augue. Phasellus ultrices sed nulla vel ornare. Sed
                            interdum
                            vitae velit id rutrum. Etiam vel convallis ante.</p>
                        <p>Cras sed sollicitudin dolor, non ornare felis. Nullam fermentum mi a rutrum consectetur. Vestibulum maximus, augue at egestas tincidunt, augue diam pulvinar justo, quis lobortis
                            quam nunc at arcu. Nulla accumsan tortor nec dolor cursus, at maximus libero suscipit. Mauris scelerisque porta mi, maximus suscipit purus vulputate sit amet. Maecenas
                            interdum,
                            risus id tempor sagittis, magna orci lacinia sapien, vel lacinia justo ante eu nulla.</p>
                        </p>Praesent ullamcorper ornare sem sit amet auctor. Morbi sit amet ante vel augue laoreet mattis nec eget sem. Suspendisse auctor feugiat turpis, eget mollis augue facilisis vel.
                        Praesent non ornare sapien. Mauris non tortor pharetra, congue ipsum luctus, rutrum turpis. </p>
                    </div>
                </div>
            </div>
        </div>

        {#Как да ни намерите#}
        <div class="container my-100">
            <div class="row mb-5">
                <div class="col-lg-8 col-md-6 pl-5">
                    <div class="bl mb-5">
                        <h2>Район на работа</h2>
                    </div>
                    <div class="pl-5 top-bottom">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum iaculis dui ut pulvinar. Nunc nec commodo augue. Phasellus ultrices sed nulla vel ornare. Sed
                            interdum vitae velit id rutrum. Etiam vel convallis ante.</p>
                        <p class="text-right"><a class="btn-trans" href="">свържете се с нас</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    {% embed "partials/shortcut.html.twig" with {
                        'img':'plovdiv.jpg',
                        'h':'Как да ни намерите?',
                        'p':'',
                        'btn':'toMap.svg',
                        'link': 'https://www.google.bg/maps/place/%D0%93%D1%80%D0%B0%D0%B4%D0%B8%D0%BD%D1%81%D0%BA%D0%B8+%D1%86%D0%B5%D0%BD%D1%82%D1%8A%D1%80+%D0%94%D0%B5%D0%BA%D0%BE%D1%80+%D0%A6%D0%B2%D0%B5%D1%82+2/@42.1908743,24.7014841,13.5z/data=!4m13!1m7!3m6!1s0x14acd2bd99262ce5:0xa00a014cd0f3f40!2zNDE5OSDQotGA0YPQtA!3b1!8m2!3d42.2311334!4d24.7243554!3m4!1s0x14acd29a1b606e01:0x59aed2415714f715!8m2!3d42.2260645!4d24.7250848?hl=bg',
                    } %}
                    {% endembed %}
                </div>
            </div>
        </div>
    {% endblock %}