{% extends 'base.html.twig' %}

    {% block title %}ДЕКОР ЦВЕТ КОИ СМЕ НИЕ{% endblock %}

{% block javascripts %}
    {% set active = ['aboutUs'] %}
    {{ parent() }}
{% endblock %}

    {% block bigpic %}
        {% embed 'partials/big_pic.html.twig' with {
            'big_pic':'bigpic_aboutus.jpg',
            'h1':'ДЕКОР ЦВЕТ<br>КОИ СМЕ НИЕ',
        } %}
        {% endembed %}
    {% endblock %}

    {% block body %}
        {#Какво правим ние от Декор Цвет#}
        <div class="container my-100">
            <div class="row mb-5">
                <div class="col-lg-8 col-md-6 pl-5">
                    <div class="bl mb-5">
                        <h2>Какво правим ние от Декор Цвет</h2>
                    </div>
                    <div class="px-4 top-bottom">
                        <div>
                            <p>Основната цел на всички нас от Декор Цвет е да донесем природата близо до хората - в техните домове, работни пространства и градска среда - и така да подобрим качеството им на живот. </p>
                            <p>Затова се занимаваме с озеленяване във всичките му форми - от проектиране, изграждане и поддържане на зелени площи през производство на цветя от собствен разсад до продажба на растения и продукти за градината. Специализирани сме в цялостните решения и тяхната реализация. </p>
                            <p>Благодарение на специализираното си образование в областта на ландшафтната архитектура и на дългогодишния си опит в проектирането, изграждането и поддържането на зелени пространства, днес целият ни екип смело може да заяви, че решенията ни са все по-интересни, а градините ни стават все по-красиви с годините. По този начин клиентите ни са все по-доволни, а ние се гордеем с всеки наш изпълнен проект. И всичко това постигаме без да правим компромиси с качеството. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    {% embed "partials/shortcut.html.twig" with {
                        'img':'aromatic-basil-blur-615304.jpg',
                        'h':'Вижте нашите резултати',
                        'p':'',
                        'btn':'toMore.svg',
                        'link': path('galeria_proekti'),
                    } %}
                    {% endembed %}
                </div>
            </div>
        </div>

        {#От какво зависят сроковете и как ги спазваме#}
        <div class="container my-100">
            <div class="row mb-5">
                <div class="col-lg-4 col-md-6">
                    {% embed "partials/shortcut.html.twig" with {
                        'img':'soniaHristeva.jpg',
                        'h':'Соня Христева',
                        'p':'Ландшафтен архитект',
                        'btn':'',
                        'link': '',
                    } %}
                    {% endembed %}
                </div>
                <div class="col-lg-8 col-md-6 pl-5">
                    <div class="bl mb-5">
                        <h2>Нашата история</h2>
                    </div>
                    <div class="pl-5">
                        <p>Декор Цвет е основана от Соня Христева - ландшафтен архитект с пълна проектантска правоспособност, член на Съюза на ландшафтните архитекти и на Камарата на архитектите в България. </p>
                        <p>Тя създава Декор Цвет през 2000 г., като стартира с магазин за на цветя. Малко по-късно започва работа Градински център Декор Цвет, където се произвеждат сезонни цветя от собствен разсад и се продават растения с доказан произход. </p>
                        <p>През годините паралелно с градинския център основен акцент в дейността на Декор Цвет е озеленяването - проектиране, изпълнение на проекти, изграждане на поливни системи и поддържане на зелени площи. </p>
                        <p>Днес екипът на Декор Цвет се състои от много на брой специалисти в областта на ландшафтната архитектура, които ежедневно прилагат на практика академичните си познания и непрекъснато повишават компетентността си, за да могат клиентие да се радват както на традиционни, така и на модерни решения в областта на озеленяването. </p>
                    </div>
                </div>
            </div>
        </div>

        {#Район на работа#}
        <div class="container my-100">
            <div class="row mb-5">
                <div class="col-lg-8 col-md-6 pl-5">
                    <div class="bl mb-5">
                        <h2>Район на работа</h2>
                    </div>
                    <div class="pl-5 top-bottom">
                        <p>Декор Цвет развива дейността си в Пловдив и региона, но в случай че локацията на Вашия обект е на друго място, свържете се с нас, за да обсъдим възможностите за съвместна работа. </p>                        <p class="text-right"><a class="btn-trans" href="{{ path('contact') }}">свържете се с нас</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    {% embed "partials/shortcut.html.twig" with {
                        'img':'plovdiv.jpg',
                        'h':'Как да ни намерите?',
                        'p':'',
                        'btn':'toMap.svg',
                        'link': 'https://www.google.bg/maps/place/%D0%93%D1%80%D0%B0%D0%B4%D0%B8%D0%BD%D1%81%D0%BA%D0%B8+%D1%86%D0%B5%D0%BD%D1%82%D1%8A%D1%80+%D0%94%D0%B5%D0%BA%D0%BE%D1%80+%D0%A6%D0%B2%D0%B5%D1%82+2/@42.1908743,24.7014841,13.5z/data=!4m13!1m7!3m6!1s0x14acd2bd99262ce5:0xa00a014cd0f3f40!2zNDE5OSDQotGA0YPQtA!3b1!8m2!3d42.2311334!4d24.7243554!3m4!1s0x14acd29a1b606e01:0x59aed2415714f715!8m2!3d42.2260645!4d24.7250848?hl=bg',
                    } %}
                    {% endembed %}
                </div>
            </div>
        </div>
    {% endblock %}