<!DOCTYPE html>
<html>
<head>
    {% block Analytics %}{% endblock %}
    {# {% spaceless %} #}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <META NAME="ROBOTS" CONTENT="{% block robots %}INDEX, FOLLOW{% endblock %}">
    <meta name="description" content="{% block description %}Озеленяване и Градински център Декор Цвет{% endblock %}">
    <title>{% block title %}Озеленяване и Градински център Декор Цвет{% endblock %}</title>
    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">
    {% endblock %}
</head>
<body>
{% block flash %}{% endblock %}
{% block header %}
    <div id="top" class="py-2" style="line-height: 35px!important;">
        <div class="container">
            <div class="row align-items-center justify-content-between" style="min-height:75px">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <img src="/pic/ico/clock.svg" class="mr-3"> РАБОТНО ВРЕМЕ: понеделник - неделя 9:00 - 18:00 ч.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="https://www.google.bg/maps/place/%D0%93%D1%80%D0%B0%D0%B4%D0%B8%D0%BD%D1%81%D0%BA%D0%B8+%D1%86%D0%B5%D0%BD%D1%82%D1%8A%D1%80+%D0%94%D0%B5%D0%BA%D0%BE%D1%80+%D0%A6%D0%B2%D0%B5%D1%82+2/@42.1908743,24.7014841,13.5z/data=!4m13!1m7!3m6!1s0x14acd2bd99262ce5:0xa00a014cd0f3f40!2zNDE5OSDQotGA0YPQtA!3b1!8m2!3d42.2311334!4d24.7243554!3m4!1s0x14acd29a1b606e01:0x59aed2415714f715!8m2!3d42.2260645!4d24.7250848?hl=bg"
                               target="_blank">
                                <img src="/pic/ico/place.svg" class="mr-3">Карловско шосе, с. Труд
                            </a>
                        </div>
                        <div class="col-md-6">
                            <img src="/pic/ico/phone.svg" class="mr-3">
                            <a class="btn-orange" href="tel:+359885013562">0885&nbsp;013&nbsp;562</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block newCenter %}
    <div id="top-2">
        <div class="container py-2 text-center">
            <p class="mb-0">Заповядайте в новия градински център, където на 3000 м<sup>2</sup> ще намерете голямо разнообразие от дървета, храсти и сезонни цветя - собствено производство, както и богат асортимент стайни растения.</p>
        </div>
    </div>
{% endblock %}
{% block nav %}
    {% include ('/partials/nav.html.twig') %}
{% endblock %}
{% block bigpic %}{% endblock %}
{% block nav2 %}{% endblock %}


{% block body %}{% endblock %}

{% block footer %}
    {% include 'partials/footer.html.twig' %}
{% endblock %}


{% block javascripts %}
    {# {{ encore_entry_script_tags('app') }} #}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/script.js"></script>

    <script>
        {# {% set active = ['home', 'home'] %} #}
        {% if active is defined %}
        {% for act in active %}
        document.getElementById('{{ act }}').classList.add('active');
        {% endfor %}
        {% endif %}
    </script>
{% endblock %}
{# {% endspaceless %} #}
</body>
</html>
