{% extends 'base.html.twig' %}

    {% block title %} ПОДДРЪЖКА НА ГРАДИНИ ОТ ДЕКОР ЦВЕТ{% endblock %}

{% block javascripts %}
    {% set active = ['contact'] %}
    {{ parent() }}
{% endblock %}

    {% block bigpic %}
        {% embed 'partials/big_pic.html.twig' with {
            'big_pic':'bigpic_contact.jpg',
            'h1':'СВЪРЖЕТЕ СЕ С НАС',
        } %}
        {% endembed %}
    {% endblock %}

    {% block body %}
        <div class="container my-100">
            <div class="row">
                <div class="col-md-4">
                    {% embed "partials/card2_green.html.twig" with {
                        'img':'phone-green.svg',
                        'h':'Обадете ни се',
                        'p':'0877 013 562',
                    } %}
                    {% endembed %}
                </div>
                <div class="col-md-4">
                    {% embed "partials/card2_green.html.twig" with {
                        'img':'mail_green.svg',
                        'h':'Пишете ни',
                        'p':'office@decorcvet.bg',
                    } %}
                    {% endembed %}
                </div>
                <div class="col-md-4">
                    {% embed "partials/card2_green.html.twig" with {
                        'img':'place-green.svg',
                        'h':'Съдействие при избора',
                        'p':'Пловдив, Карловско шосе, с. Труд ',
                    } %}
                    {% endembed %}
                </div>

            </div>
        </div>
    {% endblock %}
