{% extends 'base.html.twig' %}

    {% block title %}Декор Цвет озеленяване и градински сентър{% endblock %}

{% block javascripts %}
    {% set active = ['home'] %}
    {{ parent() }}
{% endblock %}

    {% block bigpic %}
        {% embed 'partials/big_pic.html.twig' with {
            'big_pic':'bigpic_home.jpg',
            'h1':'ДЕКОР ЦВЕТ<br>НИЕ СБЪДВАМЕ<br>ЦВЕТНИТЕ ВИ МЕЧТИ',
        } %}
        {% endembed %}
    {% endblock %}

    {% block body %}
        {#Озеленяване#}
        <div class="container my-100">
            <div class="row mb-5">
                <div class="col-lg-8 col-md-6 pl-5">
                    <div class="bl mb-5">
                        <h2>Озеленяване</h2>
                    </div>
                    <div class="px-4">
                        <div>
                            <p>Ние от Декор Цвет сме специализирани в цялостните решения в областта на озеленяването, независимо дали става въпрос за екстериорни проекти като дворове, паркове и пространства около работни сгради или за интериорни решения за жилищни или работни помещения, балкони, тераси или покривно озеленяване. Ние проектираме, изграждаме и поддържаме озеленяването така, че да се наслаждавате ежедневно на естетиката на кътчето природа в непосредствена близост до Вас.</p>
                        </div>
                        {#<p class="text-right"><a class="btn-trans" href="">ПОИСКАЙТЕ ОФЕРТА</a></p>#}

                        <div class="row my-5">
                            <div class="col-lg-6">
                                {% embed "partials/card.html.twig" with {
                                    'img':'proekt.svg',
                                    'h':'Проектиране',
                                    'p':'Разработване на цялостни проекти за екстериорно и интериорно озеленяване за фирми и за частни лица.',
                                    'btn':'ОЩЕ',
                                    'link': path('proektirane'),
                                } %}
                                {% endembed %}
                            </div>
                            <div class="col-lg-6">
                                {% embed "partials/card.html.twig" with {
                                    'img':'prinkler.svg',
                                    'h':'Поливни системи',
                                    'p':'Проектиране и изграждане автоматизирани поливни системи за поддръжка на зелените площи.',
                                    'btn':'ОЩЕ',
                                    'link': path('polivni_sistemi'),
                                } %}
                                {% endembed %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                {% embed "partials/card.html.twig" with {
                                    'img':'shovel.svg',
                                    'h':'Изпълнение',
                                    'p':'Реализация както на собствени, така и на вече готови проекти за озеленяване.',
                                    'btn':'ОЩЕ',
                                    'link': path('izpalnenie'),
                                } %}
                                {% endembed %}
                            </div>
                            <div class="col-lg-6">
                                {% embed "partials/card.html.twig" with {
                                    'img':'lawn-mower.svg',
                                    'h':'Поддържане',
                                    'p':'Целогодишно абонаментно поддържане както на външно, така и на вътрешно озеленяване.',
                                    'btn':'ОЩЕ',
                                    'link': path('poddrujjka'),
                                } %}
                                {% endembed %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    {% embed "partials/shortcut.html.twig" with {
                        'img':'garden-3276321_1920.jpg',
                        'h':'Защо да наема фирма за озеленяване?',
                        'p':'Изготвянето на проектно решение за озеленяване е процес, в които се визуализират вашите желания и представи за по-естетична и комфортна среда за отдих.',
                        'btn':'toSeeMore.svg',
                        'link': path('zashto_firma'),
                    } %}
                    {% endembed %}
                </div>
            </div>
        </div>

        {#Промоционален продукт на месеца#}
        <div class="big_pic_container" style="background-image: url('/pic/pexels-photo-705310.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-1 col-md-8 offset-md-1">
                        <div style="margin: 60px 0 60px 0;">
                            <h2 style="color: #FFFFFF">Промоционален<br> продукт на месеца</h2>
                            <a class="btn btn-orange mt-5" href="{{ path('rasteniaVid', {'kind': 'produkt-na-meseca'}) }}">Вижте още</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#Градински център#}
        <div class="container my-100">
            <div class="row mb-5">
                <div class="col-lg-4 col-md-6">
                    {% embed "partials/shortcut.html.twig" with {
                        'img':'pexels-photo-1083805m.jpg',
                        'h':'Как да изберем растение за вкъщи?',
                        'p':'Изготвянето на проектно решение за озеленяване е процес, в които се визуализират вашите желания и представи за по-естетична и комфортна среда за отдих.',
                        'btn':'toSeeMore.svg',
                        'link': path('za_vkashti'),
                    } %}
                    {% endembed %}
                </div>

                <div class="col-lg-8 col-md-6 pl-5">
                    <div class="bl mb-5">
                        <h2>Градински център</h2>
                    </div>
                    <div class="px-4">
                        <div>
                            <p>Градински центрове Декор Цвет е мястото, където обучени професионалисти с дългогодишен опит ще Ви съдействат не само в избора на цветя, зеленина и продукти за градината, но и ще Ви предоставят цялата информация, от която се нуждатете - както за растенията, така и за бъдещата грижа за тях.</p>
                            <p>Растенията, които предлагаме са с отлично качество и доказан произход и са напълно съобразени с климата в България.</p>
                        </div>
                        {#<p class="text-right"><a class="btn-trans" href="">ПОИСКАЙТЕ ОФЕРТА</a></p>#}

                        <div class="row my-5">
                            <div class="col-lg-6">
                                {% embed "partials/card.html.twig" with {
                                    'img':'bonsai.svg',
                                    'h':'Солитерни растения',
                                    'p':'Характерни силуети, окраска и цъфтеж за декоративен ефект и специфична запомняща се естетика за всяка градина.',
                                    'btn':'ОЩЕ',
                                    'link': path('rasteniaVid', {'kind': 'soliterni-rastenia'}),
                                } %}
                                {% endembed %}
                            </div>
                            <div class="col-lg-6">
                                {% embed "partials/card.html.twig" with {
                                    'img':'flowers-in-a-pot-1.svg',
                                    'h':'Сезонни растения',
                                    'p':'Произведени от собствен разсад превръщат дори и малки пространства в незабравима цветна градина.',
                                    'btn':'ОЩЕ',
                                    'link': path('rasteniaVid', {'kind': 'sezonni-rastenia'}),
                                } %}
                                {% endembed %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}