{% extends 'base.html.twig' %}

    {% block title %}Общи условия и политика за личните данни{% endblock %}

{% block javascripts %}
    {#{% set active = ['contact'] %}#}
    {#{{ parent() }}#}
{% endblock %}

    {% block body %}
        <div class="container my-100">
            <h2 class="text-center mb-5">Общи условия и политика за личните данни на <br>Декор Цвет 2 ЕООД</h2>
            <p>За нас защитата и поверителността на данните е от първостеренно значение. Ние се стремим интернет сайтът ни да е удобен за ползване и в същото време надежден, така че потребителите да са сигурни, че личните им данни и права са защитени.</p>
            <h3>1. Лични данни</h3>
            <p>В нашия интернет сайт вие имате възможност да се запознаете с дейността ни, да видите наши проекти и да разгледате продуктите в градинския ни център. В нашия сайт няма форми, с изпращането на които да ни предоставяте лични данни като имена, адреси, мейли и т.н., т.е. вие не ни предоставяте лични данни от такъв тип и ние не ги обработваме. Вие може напълно свободно и анонимно да разглеждате този сайт без необходимост от разкриване на лична информация. Сайтът отчита единствено общия броя посетители и профилите на техните браузъри с цел събиране на статистически данни и подобряване на интеракцията с потребителя.</p>
            <p>При всяко ползване на нашия интернет сайт от потребител, ние получаваме информация под формата на информационен протокол, който съдържа информация за уебстраницата, която ви е препратила към нас, IP-адрес, дата и продължителност на достъпа, запитването на потребителя, количеството на прехвърлените данни, информация за браузъра и операционната система, които ползвате.</p>
            <h3>2. &bdquo;Бисквитки&ldquo;</h3>
            <p>Сайтът ползва &bdquo;бисквитки&ldquo;. Cookies или &bdquo;бисквитки&ldquo; са малки текстови файлове, които се запаметяват на вашия твърд диск и които вашият браузър съхранява при посещение на определени сайтове. Основната им цел е да съхраняват данни от и за сайтовете, които посещавате. Обикновено бисквитките съдържат техническа информация, предпочитания към типа сайтове, персонализирано съдържание, статистика на посещения, линкове към социални мрежи, достъп до потребителски акаунти и т.н.</p>
            <p>Потребителят може да деактивира бисквитките от всеки сайт, включително и нашия, във всеки един момент. За тази цел трябва да промените настройките на вашия браузър. Вижте наръчниците за някои от най-популярните браузъри по-долу:</p>
            <p>Google Chrome, като последвате този линк. Firefox, като последвате този линк. Opera, като последвате този линк. Internet Explorer, като последвате този линк. Safari, като последвате този линк.</p>
            <p>Повече за &ldquo;бисквитките&rdquo; можете да научите тук: http://www.allaboutcookies.org</p>
            <h3>3. Обработване на личните данни</h3>
            <p>Информационният протокол от т.1 и данните в него се съхраняват заради сигурността на нашите системи, за да може да се идентифицира дадена хакерска атака. Ние не сме в състояние да причисляваме даден протокол към определено лице. Ние не съпоставяме информация от дадена база данни с друга база данни.</p>
            <h3>4. Връзки към други сайтове</h3>
            <p>Този сайт може да съдържа връзки към други уеб сайтове, собственост на трети страни. Моля, имайте предвид, че ние не носим отговорност за политиката за конфиденциалност на тези сайтове. Ние насърчаваме нашите потребители да прочетат декларацията за поверителност на всеки уеб сайт, който събира тяхната лична информация.</p>
            <h3>5. Права на потребителя</h3>
            <p>При поискване имате право да получите безплатна информация относно събраните за вас лични данни. Имате право по всяко време да откажете вашите лични данни да бъдат събрани и обработвани, а също така да поискате да бъдат заличени, коригирани или блокирани. За целта изпратете имейл на адрес office@dekorcvet.com.</p>
            <h3>6. Промени в настоящите Общи условия и Политика за личните данни</h3>
            <p>Ако има промени или допълнения към настоящите Общи условия и Политика за личните данни, ние своевременно ще ги публикуваме тук. Насърчаваме Ви периодично да преглеждате този документ, за да сте осведомени как Вашата лична информация е защитена и използвана.</p>
        </div>
    {% endblock %}
