{% extends 'base.html.twig' %}
{% block newCenter %}{% endblock %}

    {% block title %} ПОДДРЪЖКА НА ГРАДИНИ ОТ ДЕКОР ЦВЕТ{% endblock %}

{% block javascripts %}
    {% set active = ['planting', 'prices'] %}
    {{ parent() }}
{% endblock %}

    {% block bigpic %}
        {% embed 'partials/big_pic.html.twig' with {
            'big_pic':'bigpic_ceni.jpg',
            'h1':'ЦЕНИ<br> И СРОКОВЕ',
        } %}
        {% endembed %}
    {% endblock %}

    {% block nav2 %}
        {% include ('/partials/nav_ozelenjavane.html.twig') %}
    {% endblock %}

    {% block body %}
        {# Как се определя цената и какво включва #}
        <div class="container my-100">
            <div class="row mb-5">
                <div class="col-lg-8 col-md-6 pl-5">
                    <div class="bl mb-5">
                        <h2>Как се определя цената и какво включва</h2>
                    </div>
                    <div class="px-4 top-bottom">
                        <div>
                            <p>Създаването на красива и устойчива във времето градина е процес, който включва много и различни дейности, понякога свързани с трудно прогнозируеми фактори като атмосферните условия,
                                например. В същото време озеленителните проекти са различни и рядко си приличат, за да бъдат стандартизирани като цена. Въпреки това за нас е важно крайната цена за озеленяването да е ясна
                                предварително. </p>
                            <p>Това е причината да сме в състояние да предложим цена за конкретния проект чак след като огледаме терена и обсъдим Вашите желания както по отношение на крайния резултат, така и от гледна
                                точка на вид и качество на растенията. Тази цена включва всички необходими материали, оборудване, труд и растения, които ще бъдат вложени при изграждане на градината Ви и при обработките й
                                до първата коситба, след която Ви предаваме обекта. </p>
                        </div>
                        <p class="text-right"><a class="btn-trans" href="{{ path('contact') }}">свържете се с нас</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    {% embed "partials/shortcut.html.twig" with {
                        'img':'garden-3276321_1920.jpg',
                        'h':'Защо да наема фирма за озеленяване?',
                        'p':'Изготвянето на проектно решение за озеленяване е процес, в които се визуализират вашите желания и представи за по-естетична и комфортна среда за отдих.',
                        'btn':'toSeeMore.svg',
                        'link': path('zashto_firma'),
                    } %}
                    {% endembed %}
                </div>
            </div>
        </div>

        {# От какво зависят сроковете и как ги спазваме #}
        <div class="container my-100">
            <div class="row mb-5">
                <div class="col-lg-4 col-md-6">
                    {% embed "partials/shortcut.html.twig" with {
                        'img':'pexels-photo-1214394.jpg',
                        'h':'',
                        'p':'',
                        'btn':'',
                        'link': '',
                    } %}
                    {% endembed %}
                </div>
                <div class="col-lg-8 col-md-6 pl-5">
                    <div class="bl mb-5">
                        <h2>От какво зависят сроковете и как ги спазваме</h2>
                    </div>
                    <div class="pl-5">
                        <p>Когато става въпрос за външно озеленяване, сроковете при изпълнение на проекта са в пряка връзка с атмосферните условия - не е възможно да се извършват дейности при наличие на сняг, при дъжд
                            или ако теренът е кален. В същото време продължителността на работата зависи и от големината на обекта и степента на сложност на крайния резултат. </p>
                        <p>Както и по отношение на цените, ние сме убедени, че честните и прозрачни взаимоотношения с клиентите ни включват предварително ясни срокове за изпълнение на проекта и предаване на готовия
                            обект. </p>
                        <p>Поради тази причина и благодарение на почти двадесетгодишния си опит в проектирането и изграждането на градини, ние сме в състояние да определим реалистични крайни срокове още в етапа на
                            изготвяне на проекта и офертата. Многобройният ни и добре обучен екип от своя страна оползотвоява максимално ефективно всеки ден с подходящи за работа атмосферни условия, така че озеленяването
                            Ви да е готово тогава, когато го искате.</p>
                    </div>
                </div>
            </div>
            <p class="text-right"><a class="btn-trans" href="{{ path('contact') }}">свържете се с нас</a></p>
        </div>

        {# Защо озеленяване от Декор Цвет? #}
        {% include '/partials/zashto-ozelenjavane.html.twig' %}
    {% endblock %}