{% extends 'base.html.twig' %}

    {% block title %} ПРОЕКТИ ЗА ОЗЕЛЕНЯВАНЕ ОТ ДЕКОР ЦВЕТ {% endblock %}

{% block javascripts %}
    {% set active = ['planting', 'executing'] %}
    {{ parent() }}
{% endblock %}

  {% block bigpic %}
        {% embed 'partials/big_pic.html.twig' with {
            'big_pic':'bigpic_izpalnenie.jpg',
            'h1':'ИЗПЪЛНЕНИЕ НА<br> ПРОЕКТИ ЗА<br> ОЗЕЛЕНЯВАНЕ',
        } %}
        {% endembed %}
    {% endblock %}

    {% block nav2 %}
        {% include ('/partials/nav_ozelenjavane.html.twig') %}
    {% endblock %}

    {% block body %}
        {#Какво правим?#}
        <div class="container my-100">
            <div class="row mb-5">
                <div class="col-lg-8 col-md-6 pl-5">
                    <div class="bl mb-5">
                        <h2>Какво правим, когато изпълняваме проект за озеленяване</h2>
                    </div>
                    <div class="px-4 top-bottom">
                        <div>
                            <p>Когато изпълняваме проекти за озеленяване - независимо дали сме проектирали ние или Вие вече разполагате с готов проект - работата ни преминава през няколко етапа: </p>
                            <ul>
                                <li>подготовка на терена - тук включваме дейности като пръскане и изораване, както и доставка на растения и растителен материал;</li>
                                <li>подравняване - обичайно правим първоначално и следващо фино подравняване;</li>
                                <li>изграждане на скални кътове, беседки, водни огледала, каменни реки и други архитектурни елементи в градината;</li>
                                <li>изграждане на автоматизирана поливна система - в случай, че не разполагате с такава;</li>
                                <li>засаждане на растенията в съответствие с одобрения проект;</li>
                                <li>полагане на тревния чим.</li>
                            </ul>
                            <p>Продължителността на работата ни зависи както от спецификите на терена и сложността на проекта, така и от атмосферните условия, но дългогодишният ни опит ни позволява още на етапа на одобрение на офертата да можем да дадем реалистични крайни срокове и Вие предварително да знаете кога ще можете да се насладите на новата си градина. </p>
                        </div>
                        <p class="text-right"><a class="btn-trans" href="{{ path('contact') }}">ПОИСКАЙТЕ ОФЕРТА</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    {% embed "partials/shortcut.html.twig" with {
                        'img':'trees-918826_1920.jpg',
                        'h':'Някои от нашите проекти',
                        'p':'',
                        'btn':'toMore.svg',
                        'link': path('galeria_proekti'),
                    } %}
                    {% endembed %}
                </div>
            </div>
        </div>

        {#Защо да наема фирма за озелеянване?#}
        {% embed "partials/big_pic_R.html.twig" with {
            'img':'plant.jpg',
            'h':'Защо да наема фирма за озелеянване?',
            'btn':'Научете повече',
            'link': path('zashto_firma'),
        } %}
        {% endembed %}

        {#Защо озеленяване от Декор Цвет?#}
        {% include '/partials/zashto-ozelenjavane.html.twig' %}
    {% endblock %}