{% extends 'base.html.twig' %}

    {% block title %} ПОДДРЪЖКА НА ГРАДИНИ ОТ ДЕКОР ЦВЕТ{% endblock %}

{% block javascripts %}
    {% set active = ['planting', 'work'] %}
    {{ parent() }}
{% endblock %}

    {% block bigpic %}
        {% embed 'partials/big_pic.html.twig' with {
            'big_pic':'bigpic_kak-rabotim.jpg',
            'h1':'РАБОТАТА НИ<br> СТЪПКА ПО СТЪПКА',
        } %}
        {% endembed %}
    {% endblock %}

    {% block nav2 %}
        {% include ('/partials/nav_ozelenjavane.html.twig') %}
    {% endblock %}

    {% block body %}
        {#Защо работим по този начин#}
        <div class="container my-100">
            <div class="row mb-5">
                <div class="col-lg-8 col-md-6 pl-5">
                    <div class="bl mb-5">
                        <h2>Защо работим по този начин</h2>
                    </div>
                    <div class="px-4">
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum iaculis dui ut pulvinar. Nunc nec commodo augue. Phasellus ultrices sed nulla vel ornare.
                                Sed
                                interdum
                                vitae velit id rutrum. Etiam vel convallis ante.</p>
                            <p>Cras sed sollicitudin dolor, non ornare felis. Nullam fermentum mi a rutrum consectetur. Vestibulum maximus, augue at egestas tincidunt, augue diam pulvinar justo, quis
                                lobortis
                                quam nunc at arcu. Nulla accumsan tortor nec dolor cursus, at maximus libero suscipit. Mauris scelerisque porta mi, maximus suscipit purus vulputate sit amet. Maecenas
                                interdum,
                                risus id tempor sagittis, magna orci lacinia sapien, vel lacinia justo ante eu nulla.</p>
                            </p>Praesent ullamcorper ornare sem sit amet auctor. Morbi sit amet ante vel augue laoreet mattis nec eget sem. Suspendisse auctor feugiat turpis, eget mollis augue
                            facilisis
                            vel.
                            Praesent non ornare sapien. Mauris non tortor pharetra, congue ipsum luctus, rutrum turpis. </p>
                        </div>
                    </div>
                    <p class="text-right"><a class="btn-trans" href="">свържете се с нас</a></p>
                </div>
                <div class="col-lg-4 col-md-6">
                    {% embed "partials/shortcut.html.twig" with {
                        'img':'trees-918826_1920.jpg',
                        'h':'Някои от нашите проекти',
                        'p':'',
                        'btn':'toMore.svg',
                        'link': path('home'),
                    } %}
                    {% endembed %}
                </div>
            </div>
        </div>

        {#Работата ни стъпка по стъпка#}
        <div class="container my-100">
            <div class="bl mb-5">
                <h2>Работата ни стъпка по стъпка</h2>
            </div>

            <div class="justify-content-center mx-auto" style="max-width: 500px">
                 {#style="width:50%; max-width: 500px">#}
                {#<div class="justify-content-center">#}
                <div class="my-5">
                    {% embed "partials/textbackground+.html.twig" with {
                        'img':'loupe.svg',
                        'h':'Оглед',
                        'p':'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum iaculis dui ut pulvinar. Nunc nec commodo augue. Phasellus ultrices sed nulla vel ornare. Sed interdum vitae velit id rutrum. Etiam vel convallis ante. <br>Cras sed sollicitudn dolor, non ornare felis. Nullam fermentum mi a rutrum consectetur. Vestibulum maximus, augue at egestas tincidunt, augue diam pulvinar justo, quis lobortis quam nunc at arcu. Nulla accumsan tortor nec dolor cursus, at maximus libero suscipit. Mauris scelerisque porta mi, maximus suscipit purus vulputate sit amet. Maecenas interdum, risus id tempor sagittis, magna orci lacinia sapien, vel lacinia justo ante eu nulla.',
                        'bg':'1',
                    } %}
                    {% endembed %}
                </div>
                <div class="my-5">
                    {% embed "partials/textbackground+.html.twig" with {
                        'img':'proekt.svg',
                        'h':'Проект и оферта',
                        'p':'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum iaculis dui ut pulvinar. Nunc nec commodo augue. Phasellus ultrices sed nulla vel ornare. Sed interdum vitae velit id rutrum. Etiam vel convallis ante. <br>Cras sed sollicitudn dolor, non ornare felis. Nullam fermentum mi a rutrum consectetur. Vestibulum maximus, augue at egestas tincidunt, augue diam pulvinar justo, quis lobortis quam nunc at arcu. Nulla accumsan tortor nec dolor cursus, at maximus libero suscipit. Mauris scelerisque porta mi, maximus suscipit purus vulputate sit amet. Maecenas interdum, risus id tempor sagittis, magna orci lacinia sapien, vel lacinia justo ante eu nulla.',
                        'bg':'2',
                    } %}
                    {% endembed %}
                </div>
                <div class="my-5">
                    {% embed "partials/textbackground+.html.twig" with {
                        'img':'prinkler.svg',
                        'h':'Поливна система',
                        'p':'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum iaculis dui ut pulvinar. Nunc nec commodo augue. Phasellus ultrices sed nulla vel ornare. Sed interdum vitae velit id rutrum. Etiam vel convallis ante. <br>Cras sed sollicitudn dolor, non ornare felis. Nullam fermentum mi a rutrum consectetur. Vestibulum maximus, augue at egestas tincidunt, augue diam pulvinar justo, quis lobortis quam nunc at arcu. Nulla accumsan tortor nec dolor cursus, at maximus libero suscipit. Mauris scelerisque porta mi, maximus suscipit purus vulputate sit amet. Maecenas interdum, risus id tempor sagittis, magna orci lacinia sapien, vel lacinia justo ante eu nulla.',
                        'bg':'3',
                    } %}
                    {% endembed %}
                </div>
                <div class="my-5">
                    {% embed "partials/textbackground+.html.twig" with {
                        'img':'shovel.svg',
                        'h':'Изпълнение',
                        'p':'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum iaculis dui ut pulvinar. Nunc nec commodo augue. Phasellus ultrices sed nulla vel ornare. Sed interdum vitae velit id rutrum. Etiam vel convallis ante. <br>Cras sed sollicitudn dolor, non ornare felis. Nullam fermentum mi a rutrum consectetur. Vestibulum maximus, augue at egestas tincidunt, augue diam pulvinar justo, quis lobortis quam nunc at arcu. Nulla accumsan tortor nec dolor cursus, at maximus libero suscipit. Mauris scelerisque porta mi, maximus suscipit purus vulputate sit amet. Maecenas interdum, risus id tempor sagittis, magna orci lacinia sapien, vel lacinia justo ante eu nulla.',
                        'bg':'4',
                    } %}
                    {% endembed %}
                </div>
                <div class="my-5">
                    {% embed "partials/textbackground+.html.twig" with {
                        'img':'lawn-mower.svg',
                        'h':'Поддръжка',
                        'p':'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum iaculis dui ut pulvinar. Nunc nec commodo augue. Phasellus ultrices sed nulla vel ornare. Sed interdum vitae velit id rutrum. Etiam vel convallis ante. <br>Cras sed sollicitudn dolor, non ornare felis. Nullam fermentum mi a rutrum consectetur. Vestibulum maximus, augue at egestas tincidunt, augue diam pulvinar justo, quis lobortis quam nunc at arcu. Nulla accumsan tortor nec dolor cursus, at maximus libero suscipit. Mauris scelerisque porta mi, maximus suscipit purus vulputate sit amet. Maecenas interdum, risus id tempor sagittis, magna orci lacinia sapien, vel lacinia justo ante eu nulla.',
                        'bg':'5',
                    } %}
                    {% endembed %}
                </div>
                <p class="text-center"><a class="btn-trans" href="">свържете се с нас</a></p>
            </div>
        </div>

        {#Защо озеленяване от Декор Цвет?#}
        <div class="container my-100">
            <div class="bl mb-5">
                <h2>Защо озеленяване от Декор Цвет?</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {% embed "partials/card2_orange.html.twig" with {
                        'img':'gardening-gloves.svg',
                        'h':'Проектанти и изпълнители',
                        'p':'Ние проектираме и след това изпълняваме проектите си и ги поддържаме. Затова знаем как да изберем най-подходящото решение и да го изградим по най-добрия начин.',
                    } %}
                    {% endembed %}
                </div>
                <div class="col-md-3">
                    {% embed "partials/card2_orange.html.twig" with {
                        'img':'pruner.svg',
                        'h':'Компетентност и техника',
                        'p':'Ние проектираме и след това изпълняваме проектите си и ги поддържаме. Затова знаем как да изберем най-подходящото решение и да го изградим по най-добрия начин.',
                    } %}
                    {% endembed %}
                </div>
                <div class="col-md-3">
                    {% embed "partials/card2_orange.html.twig" with {
                        'img':'sprout-1.svg',
                        'h':'Доказан опит и знания',
                        'p':'Ние проектираме и след това изпълняваме проектите си и ги поддържаме. Затова знаем как да изберем най-подходящото решение и да го изградим по най-добрия начин.',
                    } %}
                    {% endembed %}
                </div>
                <div class="col-md-3">
                    {% embed "partials/card2_orange.html.twig" with {
                        'img':'protection.svg',
                        'h':'Гаранция за резултата',
                        'p':'Ние проектираме и след това изпълняваме проектите си и ги поддържаме. Затова знаем как да изберем най-подходящото решение и да го изградим по най-добрия начин.',
                    } %}
                    {% endembed %}
                </div>
            </div>
        </div>
    {% endblock %}