{% extends 'base.html.twig' %}

    {% block title %} ПОДДРЪЖКА НА ГРАДИНИ ОТ ДЕКОР ЦВЕТ{% endblock %}

{% block javascripts %}
    {% set active = ['planting', 'work'] %}
    {{ parent() }}
{% endblock %}

    {% block bigpic %}
        {% embed 'partials/big_pic.html.twig' with {
            'big_pic':'bigpic_kak-rabotim.jpg',
            'h1':'РАБОТАТА НИ<br> СТЪПКА ПО СТЪПКА',
        } %}
        {% endembed %}
    {% endblock %}

    {% block nav2 %}
        {% include ('/partials/nav_ozelenjavane.html.twig') %}
    {% endblock %}

    {% block body %}
        {#Защо работим по този начин#}
        <div class="container my-100">
            <div class="row mb-5">
                <div class="col-lg-8 col-md-6 pl-5">
                    <div class="bl mb-5">
                        <h2>Защо работим по този начин</h2>
                    </div>
                    <div class="px-4">
                        <div>
                            <p>За нас озеленяването и ландшафтната архитектура не са просто работа, а са голямата ни любов и страст. Затова към всеки един проект ние от Декор Цвет подхождаме с внимание и вдъхновение и даваме най-доброто от знанията, уменията и дългогодишния си опит. Именно този фокус върху качеството ни позволява да се гордеем с всеки един наш изпълнен проект, а клиентите ни да се радват  на красива природа в техния дом или офис дълги години. </p>
                            <p>За да е визможно всичко това вече повече от деветнадесет години, ние разглеждаме озеленяването - независимо дали става въпрос за градини и паркове, интериорно озеленяване или покривна растителност -  като цялостен процес, който включва не само самото засаждане на растенията, но и предварителната подготовка, самия проект, поливната система и подддържането на зеленината в бъдеще, така че тя да се развива и да става все по-красива с времето.  </p>
                        </div>
                    </div>
                    <p class="text-right"><a class="btn-trans" href="{{ path('contact') }}">свържете се с нас</a></p>
                </div>
                <div class="col-lg-4 col-md-6">
                    {% embed "partials/shortcut.html.twig" with {
                        'img':'0764.jpg',
                        'h':'Някои от нашите проекти',
                        'p':'',
                        'btn':'toMore.svg',
                        'link': path('galeria_proekti'),
                    } %}
                    {% endembed %}
                </div>
            </div>
        </div>

        {#Работата ни стъпка по стъпка#}
        <div class="container my-100">
            <div class="bl mb-5">
                <h2>Работата ни стъпка по стъпка</h2>
            </div>

            <div class="justify-content-center mx-auto" style="max-width: 500px">
                 {#style="width:50%; max-width: 500px">#}
                {#<div class="justify-content-center">#}
                <div class="my-5">
                    {% embed "partials/textbackground+.html.twig" with {
                        'img':'loupe.svg',
                        'h':'Оглед',
                        'p':'Огледът ни включва запознаване с терена и среща с инвеститора.  Когато се запознаваме с терена, ние виждаме текущото му състояние и правим снимки, за да бъде възможно проектирането в следващия етап. В рамките на срещата с инвеститора обсъждаме желанията по отношение на крайния резултат, дискутираме техническата възможност за изпълнение, разглеждаме различни идеи за завършения проект и съчетаването му с архитектурата на сградата или интериора. Често пъти в детайли говорим и за подводните камъни както при изграждането на градина, така и при следващото й поддържане. Обичайната обща продължителност на огледа и срещата е до два астрономически часа и се извършва на място.',
                        'bg':'1',
                    } %}
                    {% endembed %}
                </div>
                <div class="my-5">
                    {% embed "partials/textbackground+.html.twig" with {
                        'img':'proekt.svg',
                        'h':'Проект и оферта',
                        'p':'Въз основа на информацията, събрана по време на огледа, ние подготвяме идеен проект за озеленяването. Той включва видовете растения, схема на разпределението им, количествено-стойностна сметка и ценова оферта. <br>Когато подбираме видовете растения за нас са важни не само естетиката, растежа и комбинирането им в групи, но и ясният им произход и адаптивността им към местните климатнични условия. Клиентите ни могат да огледат съответните растения в градинския ни център. След обсъждането и одобрението на идейния проект, изготвяме 3D визуализация, така че крайния резултат да бъде видян максимално реалистично.',
                        'bg':'2',
                    } %}
                    {% endembed %}
                </div>
                <div class="my-5">
                    {% embed "partials/textbackground+.html.twig" with {
                        'img':'prinkler.svg',
                        'h':'Поливна система',
                        'p':'Следвайки одобрения в предходния етап финален проект за озеленяването, ние изготвяме проект и ценово предложение за изграждане на автоматизирана поливна система. <br>Тя се проектира за конкретната градина в зависимост от местоположението и нуждите от грижи на съответните растения. Благодарение на нея всяко растение получава точното количество вода в подходящите моменти и се предотвратява изсъхването или изгниването на зеленината. <br>В случай, че предпочитате да не изграждате автоматизирана поливна система, ние няма да можем да се наемем с изпълнението на Вашия проект за озеленяване, както и с поддържането му в бъдеще.',
                        'bg':'3',
                    } %}
                    {% endembed %}
                </div>
                <div class="my-5">
                    {% embed "partials/textbackground+.html.twig" with {
                        'img':'shovel.svg',
                        'h':'Изпълнение',
                        'p':'Преди да започнем същинската работа по озеленяването и след одобрение на автоматизираната поливна система, обикновено сключваме Договор за изпълнение. <br>Цените, които сте одобрили в предходните етапи са крайните цени за договорения обем работа и те включват всички необходими дейности, за да можете Вие в края на договорения срок да разполагате с желаното озеленяване. По време на етапа на изпълнение цялата необходима техника, както и закупуването и доставката до обекта на нужните материали, препарати, растения и посеви са наш ангажимент. Моментът, в който ви предаваме готовата градина е след първата коситба.',
                        'bg':'4',
                    } %}
                    {% endembed %}
                </div>
                <div class="my-5">
                    {% embed "partials/textbackground+.html.twig" with {
                        'img':'lawn-mower.svg',
                        'h':'Поддръжка',
                        'p':'След изграждане на градината и при желание от страна на клиента, последният и най-продължителен етап от съвместната ни работа е поддържането на градина. Тя включва всички необходими дейности за запазване на красивия, уютен и колоритен вид на зеленината като резитби, косене, торене, окопаване, плевене, пръскане, пролетно и есенно зацветяване със сезонни цветя от собствен разсад, както и зазимяване на растенията и цялата градина. Възможно е също така да поддържаме и градини и зеленина, които не са изградени от нас. <br>Обичайно за поддържането на зеленината се заплаща фиксирана месечна такса, а ние извършваме всички необходими дейности и манипулации за обгрижване и правилно развитие на растенията.',
                        'bg':'5',
                    } %}
                    {% endembed %}
                </div>
                <p class="text-center"><a class="btn-trans" href="{{ path('ceni_srokove') }}">вижте цени и срокове</a></p>
            </div>
        </div>

        {#Защо озеленяване от Декор Цвет?#}
        {% include '/partials/zashto-ozelenjavane.html.twig' %}
    {% endblock %}