{% extends 'base.html.twig' %}

    {% block title %} ПОДДРЪЖКА НА ГРАДИНИ ОТ ДЕКОР ЦВЕТ{% endblock %}

{% block javascripts %}
    {% set active = ['planting', 'support'] %}
    {{ parent() }}
{% endblock %}

    {% block bigpic %}
        {% embed 'partials/big_pic.html.twig' with {
            'big_pic':'bigpic_poddrujjka.jpg',
            'h1':'ПОДДРЪЖКА<br> НА ГРАДИНИ ОТ <br> ДЕКОР ЦВЕТ',
        } %}
        {% endembed %}
    {% endblock %}

    {% block nav2 %}
        {% include ('/partials/nav_ozelenjavane.html.twig') %}
    {% endblock %}

    {% block body %}
        {#Защо е нужна поддръжка за градината#}
        <div class="container my-100">
            <div class="row mb-5">
                <div class="col-lg-8 col-md-6 pl-5">
                    <div class="bl mb-5">
                        <h2>Защо е нужна поддръжка за градината</h2>
                    </div>
                    <div class="px-4">
                        <div>
                            <p>Когато става въпрос за озеленяване, изграждането на градината е точно толкова важно, колкото и поддържането й след това. Причината е, че растенията са живи, а самата градина е непрекъснато развиващ се организъм и те няма как да стават все по-красиви с времето и да изглеждат добре във всеки сезон от годината, ако не получават необходимите грижи. </p>
                            <p>Също така различните растителни видове имат нужда от различен тип обгрижване, както и за да се развива правилно едно растение, дейностите по него се променят в зависимост от сезона. Понякога тези дейности са трудоемки, а друг път резултатът зависи от специфичните познания за отделните растителни видове и прецизността на манипулациите, от които се нуждаят, а в немалка част от случаите - от наличието на професионална техника и оборудване. Именно това е причината, поради която целогодишно красивите градини и зелени площи, обичайно са тези, които се поддържат от професионалисти със знания и опит в областта на озеленяването и ландшафтната архитектура. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    {% embed "partials/shortcut.html.twig" with {
                        'img':'20180627_134238.jpg',
                        'h':'Някои от нашите проекти',
                        'p':'',
                        'btn':'toMore.svg',
                        'link': path('galeria_proekti'),
                    } %}
                    {% endembed %}
                </div>
            </div>
        </div>

        {#Поддръжка на градината с гаранция#}
        <div class="container my-100">
            <div class="row mb-5">
                <div class="col-lg-4 col-md-6">
                    {% embed "partials/shortcut.html.twig" with {
                        'img':'gardening-690940_1920.jpg',
                        'h':'Как работим?',
                        'p':'Научете повече за начина ни на работа и  етапите, през които минаваме.',
                        'btn':'toMore.svg',
                        'link': path('kak_rabotim'),
                    } %}
                    {% endembed %}
                </div>
                <div class="col-lg-8 col-md-6 pl-5">
                    <div class="bl mb-5">
                        <h2>Поддръжка на градината с гаранция</h2>
                    </div>
                    <div class="pl-5">
                        <p>Когато поддържаме градини и зелени площи, независимо дали сме ги изграждали ние или вече са готови, обичайно и в зависимост от нуждите извършваме дейности като:</p>
                        <ul>
                            <li>сезонни, оформящи и санитарни резитби;</li>
                            <li>косене, плевене и окопаване;</li>
                            <li>торене на почвата;</li>
                            <li>пръскане, аериране и валиране;</li>
                            <li>напояване;</li>
                            <li>пролетно и есенно зацветяване със сезонни цветя от собствен разсад;</li>
                            <li>зазимяване на растенията и цялата градина преди настъпване на зимата.</li>
                        </ul>
                        <p>Обикновено работим, като се договаряме за фиксиран месечен абонамент за поддръжка, в рамките на който ние извършваме всички необходими дейности, за да бъде зеленината ви красива, а градината - уютна през всички сезони. </p>
                    </div>
                </div>
            </div>
            <p class="text-right"><a class="btn-trans" href="{{ path('contact') }}">свържете се с нас</a></p>
        </div>

        {#Защо да наема фирма за озелеянване?#}
        {% embed "partials/big_pic_R.html.twig" with {
            'img':'plant.jpg',
            'h':'Защо да наема фирма за озелеянване?',
            'btn':'Научете повече',
            'link': path('zashto_firma'),
        } %}
        {% endembed %}

        {#Защо озеленяване от Декор Цвет?#}
        {% include '/partials/zashto-ozelenjavane.html.twig' %}
    {% endblock %}