{% extends 'base.html.twig' %}
{% block newCenter %}{% endblock %}

    {% block title %} ПРОЕКТИ ЗА ОЗЕЛЕНЯВАНЕ ОТ ДЕКОР ЦВЕТ {% endblock %}

{% block javascripts %}
    {% set active = ['planting', 'water'] %}
    {{ parent() }}
{% endblock %}

{% block bigpic %}
    {% embed 'partials/big_pic.html.twig' with {
        'big_pic':'bigpic_polivni.jpg',
        'h1':'ПОЛИВНИ СИСТЕМИ ОТ <br> ДЕКОР ЦВЕТ',
    } %}
    {% endembed %}
{% endblock %}

{% block nav2 %}
    {% include ('/partials/nav_ozelenjavane.html.twig') %}
{% endblock %}

{% block body %}
    {#Какво правим?#}
    <div class="container my-100">
        <div class="row mb-5">
            <div class="col-lg-8 col-md-6 pl-5">
                <div class="bl mb-5">
                    <h2>Защо е нужна поливна система</h2>
                </div>
                <div class="px-4">
                    <div>
                        <p>Правилното напояване е критичния фактор не само за поддържането на живота на растенията, но и за развитието на всяка градина. Когато озеленяваме, неразделна част от нашата работа са автоматизираните поливни системи - ако ние проектираме и изпълняваме проекта, винаги включваме и такъв тип поливна система; ако само изпълняваме проекта, то се наемаме с тази задача, само ако има или е предвидено изграждането на автоматизирано напояване. </p>
                        <p>Причините да работим с автоматизирани поливни системи са няколко. Те са единствените, които осигуряват на всяко растение точното количество вода, разпределено оптимално във времето. При липсата им, най-честите нежелани резултати са недостатъчното напояване или преполиването, които от своя страна водят до изсъхване или изгниване на растенията. Също така напояването стартира и приключва в подходящите за растенията моменти, без ползвателите на градината да имат ангажименти да бъдат на място. И не на последно място - автоматизираните поливни системи спестяват от количеството вода, необходимо за напояване на двора или градината. </p>
                        <p>И понеже даваме гаранция за резултатите от работата ни, автоматизираните поливни системи са тези, които осигуряват най-качествения и устойчив във времето резултат. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                {% embed "partials/shortcut.html.twig" with {
                    'img':'pexels-photo-95215.jpg',
                    'h':'Някои от нашите проекти',
                    'p':'',
                    'btn':'toMore.svg',
                    'link': path('galeria_proekti'),
                } %}
                {% endembed %}
            </div>
        </div>
    </div>

    {#Защо да наема фирма за озелеянване?#}
    {% embed "partials/big_pic_R.html.twig" with {
        'img':'plant.jpg',
        'h':'Защо да наема фирма за озелеянване?',
        'btn':'Научете повече',
        'link': path('zashto_firma'),
    } %}
    {% endembed %}

    {#Защо озеленяване от Декор Цвет?#}
    {% include '/partials/zashto-ozelenjavane.html.twig' %}
{% endblock %}