{% extends 'base.html.twig' %}

    {% block title %} ПРОЕКТИ ЗА ОЗЕЛЕНЯВАНЕ ОТ ДЕКОР ЦВЕТ {% endblock %}

{% block javascripts %}
    {% set active = ['planting', 'water'] %}
    {{ parent() }}
{% endblock %}

    {% block bigpic %}
        {% embed 'partials/big_pic.html.twig' with {
            'big_pic':'bigpic_polivni.jpg',
            'h1':'ПОЛИВНИ СИСТЕМИ ОТ <br> ДЕКОР ЦВЕТ',
        } %}
        {% endembed %}
    {% endblock %}

    {% block nav2 %}
        {% include ('/partials/nav_ozelenjavane.html.twig') %}
    {% endblock %}

    {% block body %}
        {#Какво правим?#}
        <div class="container my-100">
            <div class="row mb-5">
                <div class="col-lg-8 col-md-6 pl-5">
                    <div class="bl mb-5">
                        <h2>Защо е нужна поливна система</h2>
                    </div>
                    <div class="px-4">
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum iaculis dui ut pulvinar. Nunc nec commodo augue. Phasellus ultrices sed nulla vel ornare.
                                Sed
                                interdum
                                vitae velit id rutrum. Etiam vel convallis ante.</p>
                            <p>Cras sed sollicitudin dolor, non ornare felis. Nullam fermentum mi a rutrum consectetur. Vestibulum maximus, augue at egestas tincidunt, augue diam pulvinar justo, quis
                                lobortis
                                quam nunc at arcu. Nulla accumsan tortor nec dolor cursus, at maximus libero suscipit. Mauris scelerisque porta mi, maximus suscipit purus vulputate sit amet. Maecenas
                                interdum,
                                risus id tempor sagittis, magna orci lacinia sapien, vel lacinia justo ante eu nulla.</p>
                            </p>Praesent ullamcorper ornare sem sit amet auctor. Morbi sit amet ante vel augue laoreet mattis nec eget sem. Suspendisse auctor feugiat turpis, eget mollis augue
                            facilisis
                            vel.
                            Praesent non ornare sapien. Mauris non tortor pharetra, congue ipsum luctus, rutrum turpis. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    {% embed "partials/shortcut.html.twig" with {
                        'img':'trees-918826_1920.jpg',
                        'h':'Някои от нашите проекти',
                        'p':'',
                        'btn':'toMore.svg',
                        'link': path('home'),
                    } %}
                    {% endembed %}
                </div>
            </div>
        </div>

        {#Какви поливни системи изграждаме?#}
        <div class="container my-100">
            <div class="row mb-5">
                <div class="col-lg-4 col-md-6">
                    {% embed "partials/shortcut.html.twig" with {
                        'img':'pexels-photo-95215.jpg',
                        'h':'Как работим?',
                        'p':'Научете повече за начина ни на работа и  етапите, през които минаваме.',
                        'btn':'toMore.svg',
                        'link': path('kak_rabotim'),
                    } %}
                    {% endembed %}
                </div>
                <div class="col-lg-8 col-md-6 pl-5">
                    <div class="bl mb-5">
                        <h2>Какви поливни системи изграждаме?</h2>
                    </div>
                    <div class="pl-5">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum iaculis dui ut pulvinar. Nunc nec commodo augue. Phasellus ultrices sed nulla vel ornare. Sed
                            interdum
                            vitae velit id rutrum. Etiam vel convallis ante.</p>
                        <p>Cras sed sollicitudin dolor, non ornare felis. Nullam fermentum mi a rutrum consectetur. Vestibulum maximus, augue at egestas tincidunt, augue diam pulvinar justo, quis lobortis
                            quam nunc at arcu. Nulla accumsan tortor nec dolor cursus, at maximus libero suscipit. Mauris scelerisque porta mi, maximus suscipit purus vulputate sit amet. Maecenas
                            interdum,
                            risus id tempor sagittis, magna orci lacinia sapien, vel lacinia justo ante eu nulla.</p>
                        </p>Praesent ullamcorper ornare sem sit amet auctor. Morbi sit amet ante vel augue laoreet mattis nec eget sem. Suspendisse auctor feugiat turpis, eget mollis augue facilisis vel.
                        Praesent non ornare sapien. Mauris non tortor pharetra, congue ipsum luctus, rutrum turpis. </p>
                    </div>
                </div>
            </div>
            <p class="text-right"><a class="btn-trans" href="">свържете се с нас</a></p>
        </div>

        {#Защо да наема фирма за озелеянване?#}
        {% embed "partials/big_pic_R.html.twig" with {
            'img':'plant.jpg',
            'h':'Защо да наема фирма за озелеянване?',
            'btn':'Научете повече',
            'link': path('zashto_firma'),
        } %}
        {% endembed %}

        {#Защо да купите сезонно растение от Декор Цвет?#}
        <div class="container my-100">
            <div class="bl mb-5">
                <h2>Защо озеленяване от Декор Цвет?</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {% embed "partials/card2_orange.html.twig" with {
                        'img':'gardening-gloves.svg',
                        'h':'Проектанти и изпълнители',
                        'p':'Ние проектираме и след това изпълняваме проектите си и ги поддържаме. Затова знаем как да изберем най-подходящото решение и да го изградим по най-добрия начин.',
                    } %}
                    {% endembed %}
                </div>
                <div class="col-md-3">
                    {% embed "partials/card2_orange.html.twig" with {
                        'img':'pruner.svg',
                        'h':'Компетентност и техника',
                        'p':'Ние проектираме и след това изпълняваме проектите си и ги поддържаме. Затова знаем как да изберем най-подходящото решение и да го изградим по най-добрия начин.',
                    } %}
                    {% endembed %}
                </div>
                <div class="col-md-3">
                    {% embed "partials/card2_orange.html.twig" with {
                        'img':'sprout-1.svg',
                        'h':'Доказан опит и знания',
                        'p':'Ние проектираме и след това изпълняваме проектите си и ги поддържаме. Затова знаем как да изберем най-подходящото решение и да го изградим по най-добрия начин.',
                    } %}
                    {% endembed %}
                </div>
                <div class="col-md-3">
                    {% embed "partials/card2_orange.html.twig" with {
                        'img':'protection.svg',
                        'h':'Гаранция за резултата',
                        'p':'Ние проектираме и след това изпълняваме проектите си и ги поддържаме. Затова знаем как да изберем най-подходящото решение и да го изградим по най-добрия начин.',
                    } %}
                    {% endembed %}
                </div>
            </div>
        </div>
    {% endblock %}