{% extends 'base.html.twig' %}

    {% block title %} ПРОЕКТИ ЗА ОЗЕЛЕНЯВАНЕ ОТ ДЕКОР ЦВЕТ {% endblock %}

{% block javascripts %}
    {% set active = ['planting', 'project'] %}
    {{ parent() }}
{% endblock %}

    {% block bigpic %}
        {% embed 'partials/big_pic.html.twig' with {
            'big_pic':'bigpic_proektirane.jpg',
            'h1':'ПРОЕКТИ <br> ЗА ОЗЕЛЕНЯВАНЕ ОТ <br> ДЕКОР ЦВЕТ',
        } %}
        {% endembed %}
    {% endblock %}

    {% block nav2 %}
        {% include ('/partials/nav_ozelenjavane.html.twig') %}
    {% endblock %}

    {% block body %}
        {#Какво правим?#}
        <div class="container my-100">
            <div class="row mb-5">
                <div class="col-lg-8 col-md-6 pl-5">
                    <div class="bl mb-5">
                        <h2>Защо е нужен проект при озеленяване</h2>
                    </div>
                    <div class="px-4">
                        <div>
                            <p>Всяка градина е динамична структура - тя е жив организъм, който се развива във въремето и се нуждане от постоянни грижи, за да й се наслаждаваме в най-добрия й вид. Именно способността й да се променя с годините налага необходимостта от цялостна визия за трансформацията й в бъдеще още в самото начало при изгаждането й. Точно тази дългосрочна визия е проекта за озеленяване. </p>
                            <p>От една страна в него намираме оптималните връзки между самата зелена площ и съпътстващите елементи като пътеки, алеи, скални кътове, водни огледала, пейки, беседки, барбекюта, осветление и т.н. От друга страна в проекта се залагат видовете растения, отстоянията между тях и комбинирането  им в групи предвид начина, по който ще растат и ще се променят занапред и вида и обема грижи, които изискват. </p>
                            <p>Проектът също така Ви позволява да “видите” градината или вътрешното озеленяване още преди изграждането им да е започнало. Само така можете да бъдете сигурни, че крайният резултат удовлетворява напълно желанията Ви за изгледа и атмосферата, както и че озеленяването е съобразено и се съчетава правилно с архитектурата на сградата, с функционалната й употреба и с всички останали елементи в околната среда. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    {% embed "partials/shortcut.html.twig" with {
                        'img':'20180411_110014.jpg',
                        'h':'Някои от нашите проекти',
                        'p':'',
                        'btn':'toMore.svg',
                        'link': path('galeria_proekti'),
                    } %}
                    {% endembed %}
                </div>
            </div>
        </div>

        {#Какво получавате, когато проектираме?#}
        <div class="container my-100">
            <div class="row mb-5">
                <div class="col-lg-4 col-md-6">
                    {% embed "partials/shortcut.html.twig" with {
                        'img':'blur-1835403_1920.jpg',
                        'h':'Как работим?',
                        'p':'Научете повече за начина ни на работа и  етапите, през които минаваме.',
                        'btn':'toMore.svg',
                        'link': path('kak_rabotim'),
                    } %}
                    {% endembed %}
                </div>
                <div class="col-lg-8 col-md-6 pl-5">
                    <div class="bl mb-5">
                        <h2>Какво получавате, когато проектираме?</h2>
                    </div>
                    <div class="pl-5">
                        <p>Когато създаваме проект за озеленяване, ние започваме с оглед на обекта и уточняване на Вашите желания по отношение на крайния резултат. </p>
                        <p>Следващата ни стъпка е изготвянето на идеен проект, който включва:</p>
                        <ul>
                            <li>схема на разпределението на растенията - какъв растителен вид     къде в градината ще се намира; </li>
                            <li>описание на растенията - какви растителни видове са включени в проекта;</li>
                            <li>количествена или количествено-стойностна сметка - колко от съответните растения ще бъдат необходими и - в случай, че ние ще изпълняваме проекта - каква е цената им. </li>
                        </ul>
                        <p>При избора на растенията принципът, който е водещ за нас е пълно съобразяване с климатичните особености, с произхода на растенията и грижите, необходими за поддържането им в бъдеще. </p>
                        <p>След одобрение на идейния проект подготвяме 3D визуализация, така че наистина да “видите” как ще изглежда градината или двора Ви. </p>
                    </div>
                </div>
            </div>
            <p class="text-right"><a class="btn-trans" href="{{ path('contact') }}">свържете се с нас</a></p>
        </div>

        {#Защо да наема фирма за озелеянване?#}
        {% embed "partials/big_pic_R.html.twig" with {
            'img':'plant.jpg',
            'h':'Защо да наема фирма за озелеянване?',
            'btn':'Научете повече',
            'link': path('zashto_firma'),
        } %}
        {% endembed %}

        {#Защо озеленяване от Декор Цвет?#}
        {% include '/partials/zashto-ozelenjavane.html.twig' %}
    {% endblock %}