{% extends 'base.html.twig' %}

    {% block title %}ЗАЩО ДА НАЕМЕТЕ ФИРМА ЗА ОЗЕЛЕНЯВАНЕ?{% endblock %}

{% block javascripts %}
    {% set active = ['planting'] %}
    {{ parent() }}
{% endblock %}

{% block bigpic %}
    <div style="color: #FFFFFF!important;">
        {% embed 'partials/big_pic_textR.html.twig' with {
            'big_pic':'bigpic_zashto-firma.jpg',
            'h1':'ЗАЩО ДА НАЕМЕТЕ ФИРМА ЗА<br> ОЗЕЛЕНЯВАНЕ?',
        } %}
        {% endembed %}
    </div>
{% endblock %}

{% block body %}
    <div class="container my-100">
        <div class="row my-5">
            <div class="col-md-8 offset-md-2">
                <p>Когато става въпрос за градини, човек обикновено е свикнал да се справя сам - окопаване, засяване, поливане. Още повече в магазините и градинските центрове има изобилие от продукти за градинарство - от инструменти през торове и добавки до самите растения. Ако, обаче, целта е красива градина, която се развива устойчиво и човек не се занимава професионално с озеленяване, то самостоятелните занимания рядко водят до добър резултат. И причините са четири:</p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="bl mb-5">
                    <h2>Познанията и опита</h2>
                </div>
                <div class="px-4" style="background: url('/pic/ico/coin-stack.svg') center no-repeat">
                    <p>Озеленяването (т.нар. ландшафтна архитектура) е цялостен процес, в който се срещат от една страна особеностите на терена и заобикалящата среда, включително и микроклимата, а от друга - желанията на клиента и функционалната употреба на зелените площи. И понякога намирането на пресечната точка е сериозно предизвикателство. Без необходимите познания за терените, за съвместяването на зеленина с архитектурните елементи в средата, за растенията, съчетаването им, тяхното поддържане и развитие в бъдеще, човек трудно би могъл да се справи сам. А и когато се изгражда градина, целта е тя да се развива устойчиво и красиво, не просто да изглежда добре в момента на завършването й, т.е. необходими са и познания за специфичните грижи, които изисква всяко едно растение.</p>
                    <p>Благодарение на специализираното си образование в областта на ландшафтната архитектура на хората в нашия екип, както и на 19-те години опит и стотиците проектирани, изградени и поддържани градини и зелени площи днес ние се гордеем с резултатите си и не спираме да се развиваме, така че клиентите ни да се радват на все по-красиви, интересни и модерни решения.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bl mb-5">
                    <h2>Отговорността</h2>
                </div>
                <div class="px-4" style="background: url('/pic/ico/big-shovel.svg') center no-repeat">
                    <p>Целта на всички дейности по озеленяване в крайна сметка е конкретен краен резултат. Този резултат обичайно е залегнал в проекта и него очаква да види клиентът. Когато, обаче, проектантите и изпълнителите са различни (например човек сами реши да реализира проекта си или пък наеме фирма - изпълнител, различна от тази, която е проектирала зелената площ), то тогава не става ясно чия е отговорността за крайния резултат. Ако проектантът не е и изпълнител, то е доста възможно избраните растения в проекта да са много красиви, да се съчетават добре и да съвпадат напълно с желанията на клиента, но поставени на място, да не могат да виреят на конкретния терен или в конкретния микроклимат. И тогава всички са си свършили работата - проектантите са създали красив проект, изпълнителите са го изпълнили точно, но крайният резултат е умиращи растения.</p>
                    <p>Затова избирайки озеленител, оптималният избор е проектант - изпълнител. Само тогава можете да бъдете сигурни, че крайният резултат ще бъде този, който очаквате. А ние от Декор Цвет сме не само проектанти с пълна правоспособност, но и изпълняваме проектите си с най-качествените растения от собствения ни градински център.</p>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="bl mb-5">
                    <h2>Отговорността</h2>
                </div>
                <div class="px-4" style="background: url('/pic/ico/user.svg') center no-repeat">
                    <p>Озеленяването - както всички други сходни дейности - е свързано с конкретен бюджет. Затова понякога е изкушаващо да се плати за проект, а с реализацията му човек да се заеме сам. И тогава започва обикалянето по разсадници и градински центрове и търсене на оптимална цена за растенията, като изгубеното време и изминатите километри обичайно човек не слага в сметката. Цените често са различни от очакваните, понякога растенията загиват и е необходима повторна покупка и в крайна сметка реално платената цена за желаната градина или двор се оказва значително по-висока отколкото цената за проектиране и изпълнение на проекта от една фирма.</p>
                    <p>Когато ние от Декор Цвет проектираме и изпълняваме проектите си, крайната цена е ясна още от самото начало - подробната ценова оферта включва не само всички растения и дейности, но и доставката на материали и техника до обекта, така че още преди да сме започнали работа, вие да сте наясно колко ще струва, при това без да се налага вие лично да участвате в процеса.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bl mb-5">
                    <h2>Дейностите</h2>
                </div>
                <div class="px-4" style="background: url('/pic/ico/shield.svg') center no-repeat">
                    <p>Перфектната градина е резултат от конкретен набор от дейности: подготовка на терена, пръскане, изораване, доставка на растения и посадъчен материал, подравняване, изграждане на архитектурните елементи, изграждане на автоматизирана поливна система, засаждане на растенията, затревяване и т.н., а поддръжката включва резитби, косене, торене, плевене и окопаване, аериране и валиране, пролетно и есенно зацветяване, зазимяване на растения и още много други.</p>
                    <p>Ако човек не разполага с достатъчно свободно време, както и с необходимите познания как се прави всичко това, то за предпочитане е да възложи тези дейности на професионалисти. Когато с това се занимава фирма за озеленяване, тя разполага не само с дъргогодишен опит и познания в областта, но и с цялата необходима техника и персонал, за да бъде свършени всичко навреме и в най-подходящия за растенията момент.</p>
                </div>
            </div>
        </div>
    </div>
    {#Защо озеленяване от Декор Цвет?#}
    <div class="container my-100">
        <div class="bl mb-5">
            <h2>Защо озеленяване от Декор Цвет?</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                {% embed "partials/card2_orange.html.twig" with {
                    'img':'gardening-gloves.svg',
                    'h':'Проектанти и изпълнители',
                    'p':'Ние проектираме и след това изпълняваме проектите си и ги поддържаме. Затова знаем как да изберем най-подходящото решение и да го изградим по най-добрия начин.',
                } %}
                {% endembed %}
            </div>
            <div class="col-md-3">
                {% embed "partials/card2_orange.html.twig" with {
                    'img':'pruner.svg',
                    'h':'Компетентност и техника',
                    'p':'Ние проектираме и след това изпълняваме проектите си и ги поддържаме. Затова знаем как да изберем най-подходящото решение и да го изградим по най-добрия начин.',
                } %}
                {% endembed %}
            </div>
            <div class="col-md-3">
                {% embed "partials/card2_orange.html.twig" with {
                    'img':'sprout-1.svg',
                    'h':'Доказан опит и знания',
                    'p':'Ние проектираме и след това изпълняваме проектите си и ги поддържаме. Затова знаем как да изберем най-подходящото решение и да го изградим по най-добрия начин.',
                } %}
                {% endembed %}
            </div>
            <div class="col-md-3">
                {% embed "partials/card2_orange.html.twig" with {
                    'img':'protection.svg',
                    'h':'Гаранция за резултата',
                    'p':'Ние проектираме и след това изпълняваме проектите си и ги поддържаме. Затова знаем как да изберем най-подходящото решение и да го изградим по най-добрия начин.',
                } %}
                {% endembed %}
            </div>
        </div>
    </div>
{% endblock %}